* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*  Header  */

header {
    display: flex;
    width: 100%;
    height: 56px;
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    z-index: 2;
}

header.transform {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header img {
    width: 56px;
    height: 56px;
    margin-left: 24px;
    margin-right: auto;
}

.menu-item {
    position: relative;
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    line-height: 56px;
}

.menu-item a {
    display: inline-block;
    color: #212121;
    text-decoration: none;
    transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -webkit-transition: 0.05s ease-in-out;
}

.menu-item:hover > a {
    color: #41B3BF;
}

.menu-item i {
    margin-left: 8px;
}

.menu-item ul {
    position: absolute;
    left: 50%;
    top: calc(100% + 1px);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.medium-sub-menu {
    width: calc(160% + 16%);
}

.large-sub-menu {
    width: calc(200% + 16%);
}

.sub-menu-item {
    overflow: hidden;
    list-style: none;
    opacity: 0;
    height: 0;
    margin-top: -1px;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.menu-item:hover .sub-menu-item {
    overflow: visible;
    opacity: 1;
    height: 56px;
    background-color: #41B3BF;
}

.menu-item:hover .sub-menu-item:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #41B3BF;
}

.sub-menu-item a {
    display: block;
    color: #ffffff;
    text-align: center;
}

.sub-menu-item span {
    display: inline-block;
    position: relative;
    transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    will-change: transform;
}

.sub-menu-item a:hover span {
    transform: translateX(-8px);
}

.sub-menu-item i {
    position: absolute;
    opacity: 0;
    top: 51%;
    right: -4px;
    transform: translateY(-51%);
    -webkit-transform: translateY(-51%);
    -moz-transform: translateY(-51%);
    -o-transform: translateY(-51%);
    transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    font-size: 12px;
}

.sub-menu-item a:hover i {
    opacity: 1;
    right: -20px;
}

/*  Hamburger Menu  */

.hamburger-menu {
    display: none;
}

#hm-menu-trigger {
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 3;
}

#hm-menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #212121;
    border-radius: 3px;
}

#hm-menu-trigger, #hm-menu-trigger span {
    transition: all .5s;
}

#hm-menu-trigger span:nth-of-type(1) {
    top: 0;
}

#hm-menu-trigger span:nth-of-type(2) {
    width: 80%;
    top: 9px;
}

#hm-menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.hm-menu-button.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

.hm-menu-button.active span:nth-of-type(2) {
    opacity: 0;
}

.hm-menu-button.active span:nth-of-type(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

/*  Top  */

.top-section {
    position: relative;
    background-color: #757575;
    height: 100vh;
}

.top-text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(calc(56px - 50%));
    -webkit-transform: translateY(calc(56px - 50%));
    z-index: 1;
    color: #ffffff;
    font-size: 64px;
    font-family: 'Catamaran', sans-serif;
}

.top-text span {
    line-height: 1.2;
    font-size: 96px;
    font-family: 'Catamaran', sans-serif;
}

.top-scroll-hint {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 1;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    line-height: 1.5;
}

.top-filter:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: repeating-linear-gradient(0deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 1px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px);
}

.top-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

/*  News  */

.news-section {
    padding: 40px 0 80px;
    color: #212121;
}

.news-title {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.news-list {
    position: relative;
    width: 50%;
    min-width: 700px;
    list-style: none;
    margin: 0 auto;
}

.news-list li {
    position: relative;
    font-size: 16px;
    padding: 12px 80px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.news-list:before, .news-list li:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    text-align: center;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1) 10%, rgba(0, 0, 0, .1) 90%, transparent);
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .1) 10%, rgba(0, 0, 0, .1) 90%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}

.news-list:before {
    top: 0;
}

.news-list li:before {
    bottom: 0;
}

.news-list li a {
    color: #BF7741;
    display: table-cell;
    vertical-align: middle;
    transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -webkit-transition: 0.05s ease-in-out;
    text-decoration: none;
}

.news-list li a:hover {
    text-decoration: underline;
}

.news-list li div {
    display: table-cell;
    width: 24%;
}

.news-list li time {
    display: table-cell;
    vertical-align: top;
    width: 88px;
}

/*  Content  */

.content-bg {
    background-image: url("../image/top-page-bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: repeat-y;
}

.content-bg-filter {
    background-color: rgba(255, 255, 255, .96);
}

.content-section {
    display: flex;
    padding: 40px 0;
}

.content-text {
    margin: auto 7%;
    width: 50vw;
    color: #212121;
}

.content-text h1 {
    font-size: 56px;
    font-weight: bold;
}

.content-text p {
    margin-top: 32px;
    font-size: 16px;
}

.content-button {
    margin: 48px 8px 0 auto;
    text-align: right;
}

.content-button a {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 16px 40px;
    background-color: #424242;
    color: #ffffff;
    border-style: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.content-button a:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
    background-color: #212121;
}

.content-button i {
    margin-left: 16px;
}

.content-image-left, .content-image-right {
    position: relative;
}

.content-image-left img {
    width: 50vw;
    min-height: 500px;
    height: 30vw;
    object-fit: cover;
    clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
}

.content-image-right img {
    width: 50vw;
    min-height: 500px;
    height: 30vw;
    object-fit: cover;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
}

/* Content Box */

.content-box-bg {
    background-color: #FAFAFA;
    padding: 80px 0;
}

.content-box {
    display: flex;
    justify-content: center;
}

.content-box-section {
    width: 40vw;
    max-width: 560px;
    margin: 0 1.2%;
}

.content-box-image {
    background-color: #ffffff;
    width: 100%;
    min-height: 160px;
    height: 10vw;
    display: table;
}

.content-box-image i {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.content-box-text {
    width: 100%;
    color: #212121;
}

.content-box-text h1 {
    margin-top: 16px;
    font-size: 32px;
    font-weight: bold;
}

.content-box-text p {
    margin-top: 16px;
    font-size: 16px;
}

.content-box-button {
    margin: 40px 8px 0 auto;
    text-align: right;
}

.content-box-button a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #41B3BF;
    text-decoration: none;
    line-height: 1;
}

.content-box-button a:hover {
    border-bottom: solid 1px #41B3BF;
}

.content-box-button i {
    font-size: 12px;
    margin-left: 8px;
    vertical-align: 1px;
}

/*  Footer  */

.footer-upper {
    color: #ffffff;
    background-color: #424242;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 2.4;
}

.footer-upper-inner {
    width: calc(80vw + 1.2%);
    max-width: calc(1140px + 1.2%);
    display: flex;
}

.footer-upper-left {
    width: 60%;
    display: flex;
}

.footer-upper-left nav {
    margin-right: auto;
}

.footer-upper-left nav a {
    color: #ffffff;
    text-decoration: none;
}

.footer-upper-left nav a:after {
    content: "\A";
    white-space: pre;
}

.footer-upper-left nav a:hover {
    text-decoration: underline;
}

.footer-upper-right {
    width: 40%;
    display: flex;
}

.footer-upper-right nav {
    margin-left: auto;
}

.footer-upper-right nav p {
    color: #ffffff;
}

.vertical-line {
    width: 2px;
    height: 120px;
    background-color: rgba(255, 255, 255, .2);
}

.footer-lower {
    color: #ffffff;
    background-color: #616161;
    height: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Responsive  */

@media screen and (max-width: 1420px) {
    .footer-upper {
        height: 160px;
    }

    .footer-upper-left {
        display: none;
    }

    .footer-upper-right {
        width: 100%;
        justify-content: center;
    }

    .footer-upper-right nav {
        margin: 0 4%;
    }

    .vertical-line {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    header nav {
        position: fixed;
        top: 0;
        right: -320px;
        width: 330px;
        height: 100%;
        padding-top: 72px;
        backdrop-filter: blur(12px);
        background: rgba(255, 255, 255, .9);
        font-size: 16px;
        box-sizing: border-box;
        z-index: 3;
    }

    .menu-item {
        display: flex;
        flex-flow: column;
        margin-right: 36px;
        margin-left: 36px;
        padding: 36px 0;
        line-height: 0;
    }

    .menu-item:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    /*.menu-item:hover > a {*/
    /*    color: #41B3BF;*/
    /*}*/

    /*.menu-item i {*/
    /*    margin-left: 8px;*/
    /*}*/

    /*.menu-item ul {*/
    /*    position: absolute;*/
    /*    left: 50%;*/
    /*    top: calc(100% + 1px);*/
    /*    transform: translateX(-50%);*/
    /*    -webkit-transform: translateX(-50%);*/
    /*}*/

    /*.medium-sub-menu {*/
    /*    width: calc(160% + 16%);*/
    /*}*/

    /*.large-sub-menu {*/
    /*    width: calc(200% + 16%);*/
    /*}*/

    /*.sub-menu-item {*/
    /*    overflow: hidden;*/
    /*    list-style: none;*/
    /*    opacity: 0;*/
    /*    height: 0;*/
    /*    margin-top: -1px;*/
    /*    transition: .3s;*/
    /*    -o-transition: .3s;*/
    /*    -moz-transition: .3s;*/
    /*    -webkit-transition: .3s;*/
    /*}*/

    /*.menu-item:hover .sub-menu-item {*/
    /*    overflow: visible;*/
    /*    opacity: 1;*/
    /*    height: 56px;*/
    /*    background-color: #41B3BF;*/
    /*}*/

    /*.menu-item:hover .sub-menu-item:before {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    top: -8px;*/
    /*    left: 50%;*/
    /*    transform: translateX(-50%);*/
    /*    -webkit-transform: translateX(-50%);*/
    /*    -moz-transform: translateX(-50%);*/
    /*    -o-transform: translateX(-50%);*/
    /*    border-left: 8px solid transparent;*/
    /*    border-right: 8px solid transparent;*/
    /*    border-bottom: 8px solid #41B3BF;*/
    /*}*/

    /*.sub-menu-item a {*/
    /*    display: block;*/
    /*    color: #ffffff;*/
    /*    text-align: center;*/
    /*}*/

    /*.sub-menu-item span {*/
    /*    display: inline-block;*/
    /*    position: relative;*/
    /*    transition: 0.1s ease-in-out;*/
    /*    -o-transition: 0.1s ease-in-out;*/
    /*    -moz-transition: 0.1s ease-in-out;*/
    /*    -webkit-transition: 0.1s ease-in-out;*/
    /*    will-change: transform;*/
    /*}*/

    /*.sub-menu-item a:hover span {*/
    /*    transform: translateX(-8px);*/
    /*}*/

    /*.sub-menu-item i {*/
    /*    position: absolute;*/
    /*    opacity: 0;*/
    /*    top: 51%;*/
    /*    right: -4px;*/
    /*    transform: translateY(-51%);*/
    /*    -webkit-transform: translateY(-51%);*/
    /*    -moz-transform: translateY(-51%);*/
    /*    -o-transform: translateY(-51%);*/
    /*    transition: 0.1s ease-in-out;*/
    /*    -o-transition: 0.1s ease-in-out;*/
    /*    -moz-transition: 0.1s ease-in-out;*/
    /*    -webkit-transition: 0.1s ease-in-out;*/
    /*    font-size: 12px;*/
    /*}*/

    /*.sub-menu-item a:hover i {*/
    /*    opacity: 1;*/
    /*    right: -20px;*/
    /*}*/

    .hamburger-menu {
        display: block;
        margin: auto 24px auto auto;
    }
}