* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/*  Header  */

header {
    display: flex;
    width: 100%;
    height: 56px;
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    z-index: 2;
}

header.transform {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header img {
    width: 56px;
    height: 56px;
    margin-left: 24px;
    margin-right: auto;
}

.menu-item {
    position: relative;
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    line-height: 56px;
}

.menu-item a {
    display: inline-block;
    color: #212121;
    text-decoration: none;
    transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -webkit-transition: 0.05s ease-in-out;
}

.menu-item:hover > a {
    color: #41B3BF;
}

.menu-item i {
    margin-left: 8px;
}

.medium-sub-menu {
    position: absolute;
    width: calc(160% + 16%);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.large-sub-menu {
    position: absolute;
    width: calc(200% + 16%);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.sub-menu-item {
    overflow: hidden;
    list-style: none;
    opacity: 0;
    height: 0;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.sub-menu-item:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #41B3BF;
}

.menu-item:hover .sub-menu-item {
    overflow: visible;
    opacity: 1;
    height: 56px;
}

.sub-menu-item a {
    display: block;
    color: #ffffff;
    background-color: #41B3BF;
    text-align: center;
}

.sub-menu-item span {
    display: inline-block;
    position: relative;
    transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    will-change: transform;
}

.sub-menu-item a:hover span {
    transform: translateX(-8px);
}

.sub-menu-item i {
    position: absolute;
    opacity: 0;
    top: 51%;
    right: -4px;
    transform: translateY(-51%);
    -webkit-transform: translateY(-51%);
    -moz-transform: translateY(-51%);
    -o-transform: translateY(-51%);
    transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    font-size: 12px;
}

.sub-menu-item a:hover i {
    opacity: 1;
    right: -20px;
}

/*  Top  */

.top-section {
    position: relative;
    background-color: #757575;
    height: 100vh;
}

.top-text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(calc(56px - 50%));
    -webkit-transform: translateY(calc(56px - 50%));
    z-index: 1;
    color: #ffffff;
    font-size: 64px;
    font-family: 'Catamaran', sans-serif;
}

.top-text span {
    line-height: 1.2;
    font-size: 96px;
    font-family: 'Catamaran', sans-serif;
}

.top-scroll-hint {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 1;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    line-height: 1.5;
}

.top-filter:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: repeating-linear-gradient(0deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 1px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px);
}

.top-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

/*  News  */

.news-section {
    margin: 40px 0 80px;
    color: #212121;
}

.news-title {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.news-list {
    border-top: 1px solid rgba(0, 0, 0, .2);
    width: 50%;
    min-width: 700px;
    list-style: none;
    margin: 0 auto;
}

.news-list li {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 16px;
    padding: 12px 80px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.news-list li a {
    color: #BF7741;
    display: table-cell;
    vertical-align: middle;
    transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -webkit-transition: 0.05s ease-in-out;
    text-decoration: none;
}

.news-list li a:hover {
    text-decoration: underline;
}

.news-list li div {
    display: table-cell;
    width: 24%;
}

.news-list li time {
    display: table-cell;
    vertical-align: top;
    width: 88px;
}

/*  Content  */

.content-section {
    display: flex;
    margin: 0 0 80px;
}

.content-text {
    margin: auto 8%;
    color: #212121;
}

.content-text h1 {
    font-size: 56px;
    font-weight: bold;
}

.content-text p {
    margin-top: 32px;
    font-size: 16px;
}

.content-button {
    margin: 48px 8px 0 auto;
    text-align: right;
}

.content-button a {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 16px 40px;
    background-color: #616161;
    color: #ffffff;
    border-style: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.content-button a:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
    background-color: #464646;
}

.content-button i {
    margin-left: 16px;
}

.content-image-left, .content-image-right {
    position: relative;
}

.content-image-left img, .content-image-right img {
    width: 50vw;
    min-height: 500px;
    height: 30vw;
    object-fit: cover;
}

.content-image-left:before {
    content: "";
    position: absolute;
    left: 90%;
    right: 0;
    top: -5px;
    bottom: 0;
    transform: translateX(calc(-2vw + 1px));
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    border-width: max(510px, 31vw) 0 0 7vw;
}

.content-image-right:before {
    content: "";
    position: absolute;
    left: 90%;
    right: 0;
    top: -5px;
    bottom: 0;
    transform: translateX(calc(-45vw - 1px));
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    border-width: max(510px, 31vw) 7vw 0 0;
}

/*  Responsive  */

@media screen and (max-width: 1120px) {
    /* TODO レスポンシブ対応（いつか）*/
}