* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/*  Header  */

header {
    display: flex;
    width: 100%;
    height: 56px;
    background-color: rgba(255, 255, 255, .9);
    align-items: center;
    position: fixed;
    z-index: 2;
}

header img {
    width: 56px;
    height: 56px;
    margin-left: 24px;
    margin-right: auto;
}

.menu-item {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

.menu-item a {
    color: #212121;
    text-decoration: none;
    transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -webkit-transition: 0.05s ease-in-out;
}

.menu-item a:hover {
    color: #41B3BF;
}

.menu-item i {
    margin-left: 8px;
}

/*  Top  */

.top-section {
    position: relative;
    background-color: #757575;
    height: 100vh;
}

.top-text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(calc(56px - 50%));
    -webkit-transform: translateY(calc(56px - 50%));
    z-index: 1;
    color: #ffffff;
    font-size: 64px;
    font-family: 'Catamaran', sans-serif;
}

.top-text span {
    line-height: 1.2;
    font-size: 96px;
    font-family: 'Catamaran', sans-serif;
}

.top-scroll-hint {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 1;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    line-height: 1.5;
}

.top-filter::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: repeating-linear-gradient(0deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 1px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px);
}

.top-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

/*  News  */

.news-section {
    margin: 40px;
}

.news-title {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.news-list {
    border-top: 1px solid rgba(0, 0, 0, .2);
    width: 50%;
    min-width: 600px;
    list-style: none;
    margin: 0 auto;
}

.news-list li {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    padding: 12px 56px;
    display: table;
    width: 100%;
    box-sizing: border-box;

}

.news-list li a {
    color: #BF7741;
    display: table-cell;
    vertical-align: middle;
    transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -webkit-transition: 0.05s ease-in-out;
    text-decoration: none;
}

.news-list li a:hover {
    text-decoration: underline;
}

.news-list li div {
    display: table-cell;
    width: 176px;
}

.news-list li time {
    display: table-cell;
    vertical-align: top;
    width: 88px;
}

/*  Responsive  */

@media screen and (max-width: 1120px) {
    /* TODO レスポンシブ対応（いつか）*/
}