.member {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
}

.member-minimum {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 16px;
}

.card {
    position: relative;
    text-align: center;
    margin: 16px 8px;
}

.card-name {
    font-weight: bold;
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
    color: #000000;
}

.card-role {
    display: block;
    color: #41B3BF;
    font-size: 12px;
}

.card img {
    margin: 16px auto;
    border-radius: 50%;
    width: 80%;
}

/*@media screen and (max-width: 1260px) {*/
/*    .member:before, .member:after {*/
/*        min-width: 240px;*/
/*        width: 40%;*/
/*    }*/

/*    .card {*/
/*        min-width: 240px;*/
/*        width: 40%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 640px) {*/
/*    .member:before, .member:after {*/
/*        width: 90%;*/
/*    }*/

/*    .card {*/
/*        width: 90%;*/
/*    }*/
/*}*/