.member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member:before, .member:after {
    content: '';
    width: 320px;
    height: 0;
    order: 1;
    margin: 16px 8px;
}

.card {
    position: relative;
    width: 320px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin: 16px 8px;
    padding-bottom: 96px;
}

.blue:before, .ocher:before, .dark-blue:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40%;
    z-index: -1;
}

.blue:before {
    background-color: #41B3BF;
}

.ocher:before {
    background-color: #BF7741;
}

.dark-blue:before {
    background-color: #1C6A73;
}

.card-name {
    font-weight: bold;
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
    color: #000000;
}

.card-role {
    display: block;
    color: #41B3BF;
    font-size: 12px;
}


.card img {
    margin: 48px auto 40px;
    border-radius: 50%;
    width: 50%;
}

/*.aoki, .ueno, .mani {*/
/*    position: relative;*/
/*    width: 320px;*/
/*    height: 400px;*/
/*    text-align: center;*/
/*    background-color: rgb(0, 0, 0);*/
/*    margin: 16px;*/
/*    z-index: 0;*/
/*    overflow: hidden;*/
/*}*/

/*.aoki:before, .ueno:before, .mani:before {*/
/*    content: '';*/
/*    background-size: cover;*/
/*    opacity: 0.6;*/
/*    -webkit-filter: blur(5px);*/
/*    filter: blur(5px);*/
/*    position: absolute;*/
/*    top: -5px;*/
/*    left: -5px;*/
/*    right: -5px;*/
/*    bottom: -5px;*/
/*    z-index: -1;*/
/*}*/

/*.aoki:before {*/
/*    background-image: url("https://pbs.twimg.com/profile_images/1301561146697109504/EeLdhKkH_400x400.jpg");*/
/*}*/

/*.ueno:before {*/
/*    background-image: url("https://pbs.twimg.com/profile_images/1278727265614876672/hWgZK1KT_400x400.jpg");*/
/*}*/

/*.mani:before {*/
/*    background-image: url("https://pbs.twimg.com/profile_images/1288644553101041664/iRv5DX5f_400x400.jpg");*/
/*}*/

@media screen and (max-width: 1260px) {
    .member:before, .member:after {
        min-width: 240px;
        width: 40%;
    }

    .card {
        min-width: 240px;
        width: 40%;
    }
}

@media screen and (max-width: 640px) {
    .member:before, .member:after {
        width: 90%;
    }

    .card {
        width: 90%;
    }
}